Blink/build/*
Blink/.pioenvs/*

ADC/build/*
ADC/.pioenvs/*

DMA/build/*
DMA/.pioenvs/*

Emon/build/*
Emon/.pioenvs/*

Emon1CT/build/*
Emon1CT/.pioenvs/*

Emon1CT_ds18b20/build/*
Emon1CT_ds18b20/.pioenvs/*

Emon3CT/build/*
Emon3CT/.pioenvs/*

BluePillBlink/build/*
BluePillBlink/.pioenvs/*

emonTxshield_dBC/build/*
emonTxshield_dBC/.pioenvs/*

dBC_txshield_demo/build/*
dBC_txshield_demo/.pioenvs/*

BlinkCB/build/*
BlinkCB/.pioenvs/*

Emon3CT_CB/build/*
!Emon3CT_CB/build/Emon3CT_CB.bin
Emon3CT_CB/.pioenvs/*

RFM69/build/*

Emon3CT_RFM69/build/*

temp/*

test/*
Hardware/stm32-pi_full/cube_emonSTM32_db/build/*
*.b#*
*.s#*
*.DS_Store
Software/STM32-rPi_Sombrero_v0.5/build/*
*.code-workspace
Software/Sombrero_UART/build/*
Software/Sombrero_UART3/build/*
