Blink/build/*
Blink/.pioenvs/*

ADC/build/*
ADC/.pioenvs/*

DMA/build/*
DMA/.pioenvs/*

Emon/build/*
Emon/.pioenvs/*

Emon1CT/build/*
Emon1CT/.pioenvs/*

Emon3CT/build/*
Emon3CT/.pioenvs/*

BluePillBlink/build/*
BluePillBlink/.pioenvs/*

dBC_txshield_demo/build/*
dBC_txshield_demo/.pioenvs/*
