Blink/build/*
Blink/.pioenvs/*

ADC/build/*
ADC/.pioenvs/*

DMA/build/*
DMA/.pioenvs/*

Emon/build/*
Emon/.pioenvs/*

Emon1CT/build/*
Emon1CT/.pioenvs/*

Emon1CT_ds18b20/build/*
Emon1CT_ds18b20/.pioenvs/*

Emon3CT/build/*
Emon3CT/.pioenvs/*

BluePillBlink/build/*
BluePillBlink/.pioenvs/*

emonTxshield_dBC/build/*
emonTxshield_dBC/.pioenvs/*

dBC_txshield_demo/build/*
dBC_txshield_demo/.pioenvs/*

BlinkCB/build/*
BlinkCB/.pioenvs/*

Emon3CT_CB/build/*
!Emon3CT_CB/build/Emon3CT_CB.bin
Emon3CT_CB/.pioenvs/*

Emon3CT_RFM69/build/*

RFM69/build/*

*.DS_Store
*.code-workspace

Software/Sombrero4_3CT_CB_Copy/build/*
!Software/Sombrero4_3CT_CB_Copy/build/*.bin
Software/emonTxshield_dBC/build/*
Software/Sombrero1_UART/build/*
docs/tests/*.odt
*.s#*
*.b#*
Software/ADC_CB/build/*
!Software/ADC_CB/build/*.bin
Software/Emon3CT_CB/build/*
!Software/Emon3CT_CB/build/*.bin
Software/Sombrero_VE_Blink/build/*
!Software/Sombrero_VE_Blink/build/*.bin
Software/Sombrero_VE_Working1-ADC1/build/*
Software/Sombrero_VE_Working1-ADC2/build/*
!Software/Sombrero_VE_Working1-ADC1/build/*.bin
!Software/Sombrero_VE_Working1-ADC2/build/*.bin
